:root {
    --bg: #392727; 
    --text: #B9B7B6;
    --accentOrg: #BC5B50;
    --accentBrn: #7D5752;
    --accentGry: #8F8798;
  }



*, html, body {
    margin: 0;
}
body {
    background-color: var(--bg);
    min-height: 100vh;
    overflow-y: scroll;
}
h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 1.667;
}
p, li, label, th, td {
    font-size: 1.625rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}
section a, 
footer a {
    color: var(--accentOrg);
    font-weight: bold;
    text-shadow: 1px 1px 0 var(--bg);
}
section a:hover,
footer a:hover,
section a:active,
footer a:active {
    color: var(--text);
    text-decoration: none;
    border-bottom: dotted 2px;
}
.titleTag {
    font-size: 1rem;
}
.bg {
    display: flex;
    background-image: url('../img/steve_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 9rem;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    min-height: calc(100vh - 14rem);
}
header {
    background-color: var(--bg);
    text-align: center;
    padding: 1rem;
    color: var(--text);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
section {
    margin-top: 1rem !important;
    min-height: 100%;
    background-color: rgb(198, 91, 80, 0.75);
    width: 100%;
    box-shadow: inset 0 0 12px rgba(57, 39, 39, 0.5);
}
footer {
    background-color: var(--bg);
    width: 100%;
}
section *, footer * {
    color: #cfcfcf;
    text-shadow: 1px 1px 0 var(--bg);
}
section .videoWrapper {
    margin: 2rem auto;
    width: 560px;
}
footer * {
    text-align: center;
    font-size: .8rem;
}
footer p {
    line-height: 1.2;
}
h1 {
    text-shadow: 3px 3px 6px var(--accentOrg);
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
table {
    margin: auto auto;
}
table, th, td {
    border: 1px solid;
}
th, td {
    padding: .25rem;
    vertical-align: top;
}
.btn-primary {
    background-color: var(--accentBrn);
    border: none;
    box-shadow: 1px 1px 1px var(--bg);
}
body.home li.home,
body.bio li.bio,
body.contact li.contact, 
body.discography li.discography,
body.photos li.photos,
body.videos li.videos {
    background-color: var(--bg);
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
}
section .videoList {
    text-align: center;
    line-height: 1.2;
}
section .videoLink {
    cursor: pointer;
}
#ytPlayer {
    border: solid .667rem var(--accentGry);
    border-radius: .667rem;
}
/* https://stackoverflow.com/questions/22257650/open-full-size-image-when-clicking-on-thumbnail-inside-a-div */
.big-img-cont {
    position: absolute;
    top:0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.667);
    z-index: 3;
}
.big-img-cont img {
    display: block;
    height: 90vh;
    width: auto;
    border: solid 6px var(--text);
    z-index: 5;
}
.big-img-cont .close-img {
    color: white;
    font-size: 1.333rem;
    position: absolute;
    top: .5rem;
    z-index: 5;
}
@media (min-width: 1024px) {
    .bg {
        width: 64rem;
    }
    section, footer {
        width: 64rem;
        margin: 0 auto;
        padding: 1rem;
    }
    footer {
        margin: 0 auto;
    }
    h2 {
        margin-bottom: 1.33rem;
    }
    h2 > * {
        margin-left: 2rem;
    }
}
@media (max-width: 1023px) {
    .titleTag {
        font-size: .8rem;
    }
    p, li, label, th, td {
        font-size: 1.25rem;
    }
    .bg {
        width: 100%;
   }
   section, footer {
        margin: 0 auto;
        padding: 1rem;
    }
    footer {
        margin: 0 auto;
    }
    footer * {
        font-size: .8rem;
    }
    h2 {
        margin-bottom: 1.33rem;
    }
    h2 > * {
        margin-left: 1.33rem;
    }
}
/* Nav menu: https://alvarotrigo.com/blog/hamburger-menu-css-responsive/ */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: var(--bg);
    z-index: -1;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: var(--accentOrg);
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: var(--text);
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 2.5rem;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      white 0%, white 20%, 
      var(--bg) 20%, var(--bg) 40%, 
      white 40%, white 60%, 
      var(--bg) 60%, var(--bg) 80%, 
      white 80%, white 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: var(--accentOrg);
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.33);
}

#hamburger-menu h3 {
  color: var(--bg);
  font-size: 2rem;
  /* text-shadow: 1px 1px 1px #B9B7B6; */
  cursor: pointer;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: var(--text);
  font-size: 1.3rem;
  text-decoration: none;
  text-shadow: 1px 1px 1px var(--bg);
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

#main-menu {
    display: none;
}
#hamburger-menu {
    display: inline;
    z-index: 10;
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 1079px) {
  h1 {
      font-size: 1.5rem;
  }
  h2 {
      font-size: 1.25rem;
  }
  #hamburger-menu {
      width: 22px;
      height: 22px;
      top: 26px;
  }
}



